body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.header {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-image: url(../image/background4.jpg);
    border: solid green 0.1px;
    padding-bottom: 150px;
}
.middle-div{
    border: solid green 1px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    background: linear-gradient(to right, grey,rgb(193, 238, 193));
    padding-bottom: 150px;
}
.middle-div .contact-container{
    text-align: center;
  
}
@font-face {
    src: url(../fonts/Bamboo\ Brisk.otf);
    font-family: bamboo;
}
.middle-div .contact-container h1{
    font-family: bamboo;
    font-weight: 20px;
    font-size: 82px;
    line-height: 50px;
}
.middle-div .contact-container p{
    padding-top: 50px;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
}
.contact-form{
    text-align: center;
    padding: 50px;
 
}
.form{
    width: 500px;
    font-size: 20px;

}
.form-submit{
    margin-right: 370px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(28, 211, 28) 1%, rgb(12, 107, 12) 100%);
    background-color: #A0DE21;
    color: #000;
    letter-spacing: 1px;
}
.form-submit:hover{
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to bottom, grey,rgb(177, 174, 174));
}